body {
	background: #EFEFEF;
  	padding-top: 50px;
}

.starter-template {
  	padding: 40px 15px;
  	text-align: center;
}

.navbar {
	background: #A9A9A9;
	color: #FF3B3F;

	.navbar-right {
    	float: right;
  	}
  	ul {
    
    	li {
      	display: inline;
      	padding-left: 20px;
      	a {
        	color: #777777;
        	text-decoration: none;
        
        	&:hover {
          		color: black;
        	}
      	}
    	}
	}
}