/*
sky-color: #CAEBF2
carbon-color: #A9A9A9
watermelon-color: #FF3B3F
neutral-color: #EFEFEF
*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.badge {
    background-color: #FF3B3F;
    border-radius: 10px;
    color: #EFEFEF;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
  margin: 16px 0;
  float: right;
  background: #A9A9A9;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  
  
  .shopping-cart-header {
    border-bottom: 1px solid #A9A9A9;
    padding-bottom: 15px;
    
    .shopping-cart-total {
      float: right;
    }
  }
  
  .shopping-cart-items {
    padding-top: 20px;

      li {
        margin-bottom: 18px;
      }

    img {
      float: left;
      margin-right: 10px;
    }
    
    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }
    
    .item-price {
      color: #EFEFEF;
      margin-right: 8px;
    }
    
    .item-quantity {
      color: white;
    }
  } 
}

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #A9A9A9;
	border-width: 12px;
	margin-left: -8px;
}

.cart-icon {
  color: #FF3B3F;
  font-size: 30px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #FF3B3F;
  color:#EFEFEF;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  
  &:hover {
    background: lighten(#FF3B3F, 3%);
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
